@value red-color from "../../variables.nodules.css";
@value green-color from "../../variables.nodules.css";

.block {
  background: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95vw;
  font-size: calc(5px + 2vmin);
  padding: 10px 0;
  margin: auto;
  outline: 1px solid lightblue;
}

a {
  color: green;
  border: 1px solid darkolivegreen;
  border-radius: 5px;
  padding: 5px;
  background: lightblue;
  margin: 10px 0;
  font-size: calc(10px + 1vmin);
  display: block;
}

input {
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid darkolivegreen;
  border-radius: 5px;
  text-align: left;
}

input[type="number"] {
  width: 80px;
  margin-right: 10px;
}

button {
  padding: 5px 20px;
  margin: 10px 10px;
  color: black;
  background: green-color;
  border: 1px solid darkolivegreen;
  border-radius: 5px;
}

button:hover {
  color: green-color;
  background: darkolivegreen;
  cursor: pointer;
}

img {
  width: 150px;
  height: auto;
}

section {
  padding: 10px 0;
}

.name {
  font-weight: 600;
}

/*Composition*/

.qty {
  font-weight: bold;
}

.available {
  composes: qty;
  color: green;
}

.not-available {
  composes: qty;
  color: red-color;
}